spotipy
lyricsgenius
langchain
langchain-community
langchain-groq
chromadb
fastembed
rank-bm25
streamlit
pydantic
python-dotenv
pathlib
langdetect
langchain-core
syncedlyrics
langchain-text-splitters
langchain-classic
rank-bm25
fastapi
uvicorn
requests